/* common styles or utilities */
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-align: center;
	font-family: sans-serif;
}

header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.18);
	/* background: linear-gradient(rgb(126, 128, 126), rgb(224, 250, 224)); */
	background: #F6F8FA;
	/* color: white; */
	padding: 1% 5%;
}

nav{
	display: flex;
}
nav p{
	margin: 10px;
}
/* Error message style */
#error{
	display: none;
	color: red;
	font-size: 2rem;
}
/* search div */
.search{
	margin: 30px auto;
}
.search h1{
	color: green;
}
button{
	padding: 10px;
	font-size: 1.5rem;
}
input{
	text-align: left;
	padding: 10px 40px;
	width: 30%;
	font-size: 1.5rem;
}
/* loading spinner */
.loading{
	height: 100px;
	margin: 10px auto;
	width: 100px;
	display: none;
	border: 3px solid black;
	border-bottom: none;
	border-radius: 150px;
	animation: rotate linear 0.5s infinite;
}
/* search result */
#results{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.book{
    /* border: 1px solid black; */
    margin: 10px;
    width: 25vw;
    word-break: break-word;
    padding: 10px;
    /* box-shadow: 0 0 2px 0.8px; */
	box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.18);
    /* background: linear-gradient(lightgreen, lime); */
	background: linear-gradient(rgb(254, 255, 254), rgb(242, 253, 242));
}
.book > *{
	margin: 10px auto;
}
.found{
	display: none;
	background: linear-gradient(rgb(235, 243, 235), rgb(235, 236, 235));
	padding: 10px;
}
@media all and (max-width: 750px){
	.book{
		width: 50vw;
	}
	::placeholder{
		font-size: 1rem;
	}
}
@keyframes rotate{
from{
	transform: rotate(0);
}
to{
	transform: rotate(360deg);
}
}